.button
  padding: 12px 23px
  background-color: $primary
  border: none
  outline: none
  cursor: pointer
  border-radius: 25px
  font-size: 12px;
  font-weight: 400;
  line-height: 22.04px;
  text-transform: uppercase;
  &:hover
    box-shadow: none
    background-color: darken($primary, 10)
button,img 
  outline: none
.input
  border: none
  outline: none
  padding: 16px 0px 17px 25px
  border-radius: 25px
  width: 290px