
@media screen and ( max-width: 1230px )
  html
    font-size: 12px
  .nav
    margin-right: 0
    margin-left: 130px
    &__item
      margin-right: 0.3rem
      padding-right: 0.3rem

  .contacts
    &__phone
      margin-right: 0
  .logo
    &__city
      
      margin-left: 1rem

@media screen and ( max-width: 992px )
  .button-burger
    display: block
  .nav
    display: none
    position: relative
    &__list
    

  .header
    
    &__title
      margin-top: 110px
      font-size: 48px
    &__subtitle
      font-size: 24px
    &__input-group
      margin-right: 0
    &__button
      width: 100%
      max-width: 290px
    .form
      max-width: 500px
    .social__title
      font-size: 14px

  .contacts__phone
    margin-right: 3px
  
  .logo
    position: relative
    &__dropdown
      margin-top: 18px
      position: relative
   
    &__city
      display: none
      top: -10px
      margin-left: 3px
      &_footer
        top: 0
        

      li
        padding: 9px 9px 11px 10px;
   
    &__image
        width: 81px
        height: 81px

@media screen and ( max-width: 600px )
  .header
    &__title
      font-size: 30px
    &__subtitle
      font-size: 16px
  .logo
    &__city
      display: none
    
      
  
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      font-size: 18px
  


@media screen and ( max-width: 400px )
  .header
    &__title
      font-size: 24px
    &__subtitle
      font-size: 16px
    &__input
      width: 280px
  .social__title
    display: block
    max-width: 150px
    margin: auto
  .form
    &__button
      max-width: 280px
      
  .block
    &__item
  .subscription
    &__button
      padding: 22px 30px
      
     

  /* стили для header */

@media screen and ( max-width: 1230px )
 
  .hero
    &__advantages
      margin: auto
      margin-top: 2.5rem
      
      
     
  .advantages
    &__item
      margin-bottom: 3rem

  #question-user-question
    width: 600px


@media screen and ( max-width: 992px )
  .hero
    &__title
      font-size: 25px

    &__contaier
    &__advantages
      flex-wrap: wrap
      max-width: 580px
     
  .description
    &__title
      font-size: 41.3px
      margin-top: 0
      &_blue
        font-size: 32px
  .description
    flex-direction: column
    &__item
      margin-bottom: 2rem
      &:nth-child(1)
        margin: auto
    &__text
      text-align: center
      &_bold
        text-align: center
  .grid
    grid-template-columns: 300px 300px
    max-width: 650px
    margin: auto
  .branches__title_contacts_question
    text-align: center
    margin-right: 30px
    &::after
      left: 33%;
      width: 34%;
  .column
    margin-right: 0
  .question
    &__title
      

    &__form
      max-width: 350px
      margin: 0 auto

@media screen and ( max-width: 600px )

  
  .question__policy
   
    
    
  .hero
    &__title
      
    &__contaier
    &__advantages
      flex-direction: column
  #map
    max-height: 300px
  
  .content__buttons_contacts
    flex-direction: column
    max-width: 263px
    margin: auto
  
  .branches
    &__contacts
      flex-direction: column
      
    &__item
      &_place
    &__col
      
      margin: auto
      &_place
        max-width: 480px
        &::after
          display: none
  .group
    &__block
      max-width: 280px!important
  .block
    
    &__item
      max-width: 280px
      height: 330px
  .footer
    &__rights
      max-width: 200px




@media screen and ( max-width: 992px )
  .group
    &__block
      flex-direction: column
      margin: auto
      max-width: 360px
  .block
    &__item
      margin-left: 0
      margin-right: 0
      &:nth-child(4)
        margin-left: 0



@media screen and ( max-width: 992px )
  .abonnement
    &__row
      flex-direction: column
  .subscription      
    max-width: 360px
    margin: auto
    margin-top: 3rem
    &:last-child
      margin: auto
      margin-top: 3rem
  .branches
    &__content
      flex-wrap: wrap
      &::before
        display: none
    &__map
  .content
    &__buttons
      margin: 3rem auto
      &_contacts
        flex-wrap: wrap
  .form_group
    flex-wrap: wrap
    
  #question-user-question
    width: 100%
  .column__full-width
    margin-left: 0

@media screen and ( max-width: 992px )
  .statistics
    &__form
      flex-direction: column
    &__input-group
      margin-bottom: 20px
    &__child
  .child
    &__list
      flex-direction: row
      flex-wrap: nowrap
    &__name
      padding: 20px
  thead
    display: none
  .achievements
    &__title
      padding-left: 0
    tr
      border: 1px dotted #E4E4E4
    td
      display: block
      padding-left: 50%
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        height: 100%
        width: 2px;
        left: 190px;
        top: 0;
        background-color: $blue

      &:nth-child(1)
        width: auto!important
      &:nth-child(2)
        width: auto!important
      &:nth-child(3)
        width: auto!important
      &:nth-child(4)
        width: auto!important  
      &:nth-child(5)
        width: auto!important
        padding-right: 0
        
      &:nth-child(6)
        width: auto
        display: block
        border: none
        &::after
          display: none

      &::before
        content: attr(data-label)
        position: absolute
        left: 2%
        
  .news
    &__block
      flex-wrap: wrap
    &__item
      order: 1
    &__image
      order: 2
      
      
@media screen and ( max-width: 600px )
  .statistics
    &__input
      width: 200px
      
  .achievements
    tr
      border: 1px dotted #E4E4E4
      
    td
      display: block
      padding-left: 0
      text-align: center
      &:last-child
        border: none
      
      
      
      &:nth-child(1)
        padding-top: 0
      &:nth-child(6)
        background-color: #fff
        &::before
          background-color: #fff
      &::after
        display: none
      &::before
        display: block
        position: static
        padding: 10px 0
        color: #fff
        background-color: $blue    
  .child
    flex-direction: column
    &__photo
      margin: auto
    &__list
      margin: auto
  .news
    &__image
      margin: auto
   
@media screen and ( max-width: 992px )
  .page
    &__image_two
      flex-direction: column
      margin: 42px auto
      max-width: 555px
      img
        overflow: visible
        max-width: 555px
        height: 300px
        &:first-child

          margin-right: 0 
          margin-bottom: 42px  
@media screen and ( max-width: 380px )
  .question
    &__input
      width: 250px
  #question-user-question
   
  .policy__label
    

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .hero
    &__icon
      margin-left: 490px
  .branches
    &__content
      &::before
        top: 40px
  .subscription__button
    width: 272px
  .description__video
    margin-left: 50px
  .form_group
    flex-wrap: nowrap
  .block__age
    margin-left: 45px
  .block__button
    max-width: 140px
    margin-left: 110px
  .question__policy
    margin-left: 400px