.footer
  position: relative
  background: url('/src/img/footer/footerbg.jpg') no-repeat center / cover
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0 
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7);
  &__menu
    border-bottom: 1px solid #292929; 
  
  