.news
  &_title
    margin-bottom: 3.2rem
  &__board
    height: 1760px
    overflow: hidden
    
    
    &__column
      
     
  &__block
    
    display: flex
    
    margin-top: 26px
    margin-bottom: 26px
    margin-right: 10px
    
   
    
    &__column
      margin-top: 10px
      margin-right: 20px
      margin-bottom: 10px
    
  &__item
    
  &__image
    margin-left: 5px
    margin-right: 32px
    img
      min-width: 202px
      min-height: 153px
      
  &__title
    margin-top: 5px
    margin-bottom: 10px
    color: #33b7d2;
    font-family: "Roboto-Medium";
    font-size: 16px;
    font-weight: 500;
    color: #33b7d2;

    
    
    &__column
      max-width: 265px
    a
      color: #33b7d2;
      text-decoration: none
    &:hover
      text-decoration: underline
  &__item

   
  &__text
    max-width: 910px
   
    line-height: 20px
    margin-bottom: 0
    margin-top: 0px
    text-align: justify
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 14px
    max-height: 164px
    overflow: hidden
    
    &__column 
      max-width: 265px
      height: 124px
      overflow: hidden
  &__data
    margin-top: 8px
    color: #b2b2b2;
    font-family: "Roboto-Light";
    font-size: 13px
    font-weight: 300;
.link__block
  display: flex
  align-items: flex-end
  justify-content: space-between
.newrow,.newcolumn
  &:focus
    background: $blue

.news__board__column
.news__block__column
.news__title__column
.news__text__column
.grid
  display: grid
  grid-template-columns: 470px 470px      
  max-width: 960px
  height: auto
  margin: auto
   
   
.text
  text-align: left
  max-width: 265px
  height: 124px
  overflow: hidden
.newcolumn,.newrow
  cursor: pointer
  &:hover
    border: 1px solid $dark
    background: rgba($dark, 0.5)
 