.statistics
  padding-bottom: 70px
  &__child
    display: flex
  &__form
    display: flex
    justify-content: center
    align-items: center
    margin-top: 16px
    margin-bottom: 48px
  &__input
    width: 483px
    &-group
      margin-right: 9px
  &__button
    padding: 18px 25px
.child
  &__name
    list-style: none
    &_list
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      color: #3f3f3f;
      &_bold
        font-weight: 700
.achievements
  width: 100%
  color: #282828;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  border-spacing: 0px;
  border-collapse: collapse
  
  td
    position: relative
    padding-top: 20px
    padding-bottom: 17px
    padding-left: 22px
    padding-right: auto
    text-align: left
    border: 1px solid #dee3e4;
    &:nth-child(5)
      padding-right: 40px
      
  &__title
    text-align: left
    border-spacing: none
    background-color: #28b4d0;
    padding-top: 20px
    padding-bottom: 17px
    padding-left: 23px
    font-weight: 400;
    line-height: 24px;
    color: #fff
    border: 1px solid #dee3e4;
  
   
.child
  &__list
    display: flex
  margin-bottom: 42px

  

    